<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio 01</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="desafio1.js" defer></script>
</head>
<body>

    <div id="desafio">

        <input v-model="n1" type="text" placeholder="Digite o primeiro valor">
        <input v-model="n2" type="text" placeholder="Digite o segundo valor">

        <button @click="somar(n1, n2)">Somar</button>

        <h1>A soma entre {{ n1 }} e {{ n2 }} é: {{ soma }}</h1>

    </div>
    
</body>
</html>
